doctype html
html(class='no-js' lang='es')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(name='google-site-verification' content='CLHtw0w2M4XyABWyiYDJl9VaWFIamkIpOJI7KolN6Vo')
		title= title
		meta(name='description' content='Linda Salamanca, actriz, modelo, presentadora y artista plástica colombiana.')
		meta(name='keywords' content='Linda Salamanca, Actriz, Modelo, Presentadora, Artista Plástica, Actuación, Teatro, Televisión, Bogotá, Colombia.')
		meta(name='author' content='DM Software - hello@dmsoftware.co - www.dmsoftware.co')
		link(href='bower_components/foundation-sites/dist/css/foundation-flex.min.css' rel='stylesheet')
		link(href='bower_components/animate.css/animate.min.css' rel='stylesheet')
		link(href='bower_components/fancybox/source/jquery.fancybox.css' rel='stylesheet' type='text/css' media='screen')
		link(href='bower_components/vegas/dist/vegas.min.css' rel='stylesheet')
		link(href='app.css' rel='stylesheet' type='text/css')
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-92787715-1', 'auto');
			ga('send', 'pageview');
	body
		section
			ul
				li
					a(href='/inicio') Inicio
				li
					a(href='/curriculum') Currículum
				li
					a(href='/blog') Blog
				li
					a(href='/fotos') Fotos
				li
					a(href='/videos') Videos
				li
					a(href='/tienda') Tienda
				li
					a(href='/contacto') Contacto
		section#main-container
		script(src='bower_components/jquery/dist/jquery.min.js')
		script(src='bower_components/what-input/dist/what-input.min.js')
		script(src='bower_components/foundation-sites/dist/js/foundation.min.js')
		script(src='bower_components/fancybox/source/jquery.fancybox.pack.js' type='text/javascript')
		script(src='bower_components/vegas/dist/vegas.min.js')
		script(src='bower_components/wow/dist/wow.min.js')
		script(src='index.js' type='application/javascript')
		script(src='app.js' type='text/javascript')