@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Linda Salamanca

File:			app.scss
Author:			DM Software
Homepage:		www.dmsoftware.co
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: white;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Raleway', sans-serif;
		size: 12px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
}

/* ---------- Under Construction ---------- */

.under_construction {
	width: 100vw;
	height: 100vh;
	.row {
		height: 100vh;
		.columns {
			padding: {
				top: 15px;
				bottom: 15px;
			}
			background-color: rgba(0, 0, 0, 0.4);
			border: 1px solid #fff;
			color: #fff;
			a {
				color: #fff;
			}
		}
	}
}